* {
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Rubik", sans-serif;
  background-image: url(img/5026563.jpg);
  background-color: rgb(245, 244, 244);
  /* background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%230f00ff' fill-opacity='0.03' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
*/
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
#nav_bar {
  background: black;
  color: white;
  padding: 5px;
  position: fixed;
  width: 100%;
  height: 40px;
  top: 0px;
  text-align: center;
  justify-items: center;
  line-height: 30px;
}

.nav_item {
  display: inline;
  width: 300px;
  padding: 6px;
}

.nav_item:hover {
  background: rgb(231, 71, 22);
  cursor: pointer;
  border-radius: 5px;
  color: #fff;
  transition: 0.5s;
}

#nav_item li {
  padding: auto;
}

a {
  color: #fff;
  text-decoration: none;
}
.line {
  width: 90%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  height: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background: rgb(241, 34, 34);
  margin-bottom: 30px;
}
.nav .nav_titulo {
  font-size: 30px;
  font-weight: 300;
  color: #691212;
  text-align: center;
  font-weight: bold;
  padding-top: 20px;
}
/* header */
header {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
}

header .textos-header {
  width: 100%;
  height: 20%;
  top: 0;
  right: 0;
  position: fixed;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #3b5c79;
}

.overlay {
  width: 100%;
  height: 50%;
  position: absolute;
  background: rgb(0, 0, 0);
}

.imagen_principal {
  /*border-style: double;*/
  height: 300px;
  align-content: center;
  display: flex;
  flex-wrap: wrap;
}

.imagen_principal img {
  width: 200px;
  height: 200px;
  border-radius: 90%;
  position: none;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.titulo {
  color: rgba(236, 92, 92, 0.897);
  text-align: center;
  margin: 40px 10px;
  font-weight: 900;
}

.frase {
  font-size: 30px;
  font-style: oblique;
  text-align: center;
  padding: 0px 20px 20px;
  align-items: center;
  align-content: center;
}

.container_mision {
  width: 900px;
  margin: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: rgb(223, 223, 223);
  /*border-style: dotted;*/
  border-radius: 8px;
  justify-content: space-between;
  box-shadow: 5px 5px 5px 5px rgba(82, 80, 80, 0.74);
}

#titulo_lateral {
  width: 30px;
  background-color: #ef5350;
  border-radius: 0px 8px 8px 0px;
  height: auto;
  margin-left: auto;
  padding-left: auto;
}
#titulo_lateral h3 {
  width: 10px;

  margin: 10px auto;
  word-wrap: break-word;
  justify-content: center;
  text-align: center;
  align-content: center;
  text-transform: uppercase;
  padding-top: 40px;
}
.mision {
  background-color: #fcaaaa00;
  text-align: justify;
  width: 750px;
  padding: 5px;
  margin: 10px;
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
}
.mision img {
  width: 50px;
  height: 50px;
  margin: 5px 10px 5px 5px;
}

.competencias {
  background-color: #fcaaaa00;
  text-align: justify;
  width: 750px;
  padding: 5px;
  margin: 10px;
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  line-height: 25px;
}

.competencias img {
  width: 50px;
  height: 50px;
  margin: auto 10px;
}

/*SECTIION 2*/

.titulo_portada {
  color: #fff;
  font-weight: bolder;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: auto;
  margin: 10px 0px 10px;
}

.line_container_item {
  width: 40%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  height: 3px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background: rgb(241, 34, 34);
  margin-bottom: 10px;
}

.container-datos {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
  margin: 10px;
}
.container-datos p {
  padding: 10px;
}
.container-datos img {
  width: 60px;
  height: 60px;
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.item-datos {
  padding: none;
  width: 290px;
  height: auto;
  align-items: center;
  align-content: space-around;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  border-radius: 5px;
  background-color: #53a2ebd3;
  margin: 10px;
  box-shadow: 5px 5px 5px rgba(126, 126, 126, 0.74);
  line-height: 30px;
}

.item-datos p {
  width: 290px;
  text-align: justify;
}

.item-datos:hover {
  padding: none;
  width: 290px;
  background-color: #2991e6;
  border-radius: 5px;
}

.item-estudio {
  padding: 0px;
  width: auto;
  height: 400px;
  background-color: #53a2ebd3;
  align-items: center;
  align-content: space-around;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  border-radius: 5px;
  margin: 10px;
  box-shadow: 5px 5px 5px rgba(126, 126, 126, 0.74);
  line-height: 30px;
  text-align: justify;
}

.item-estudio p {
  width: 290px;
  text-align: justify;
}

.item-estudio:hover {
  padding: none;
  width: 290px;
  background-color: #2991e6;
  border-radius: 5px;
}

.item-certi {
  padding: 0px;
  width: 290px;
  height: auto;
  background-color: #53a2ebd3;
  align-items: center;
  align-content: space-around;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  border-radius: 5px;
  margin: 10px;
  box-shadow: 5px 5px 5px rgba(126, 126, 126, 0.74);
}

.item-certi:hover {
  padding: none;
  width: 290px;
  background-color: #2991e6;
  border-radius: 5px;
}

.item-certi a {
  color: black;
  text-decoration: double;
  padding-top: 5px;
  text-decoration: 1px underline;
}

.item-certi ul {
  margin: 10px;
  line-height: 30px;
  color: #1f317e;
}

.portada_certi:hover {
  transition: 2s;
  background-color: #ffffff00;
  border-radius: 5px;
  background-image: none;
}

.cert_fecha {
  font-size: 13px;
  margin-left: 15px;
}

#portafolio {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-content: flex-start;
  margin: 10px;
}

#portafolio h2 {
  color: #ef5350;
  text-align: center;
  margin: 5px;
}

.portafolio_item {
  width: auto;
  height: max-content;
  margin: 5px;
  padding: 5px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 30px;
  margin-left: auto;
}

.portafolio_item iframe {
  border-radius: 10px;
  width: 900px;
  height: 500px;
  box-shadow: 10px 10px 10px 10px rgba(82, 80, 80, 0.74);
  margin-bottom: 10px;
}

.descripcion_portafolio {
  width: 500px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;
  margin-left: 0;
  border-radius: 10px;
  text-align: justify;
  background-image: url(../img/fondo2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  box-shadow: 5px 5px 5px 5px rgba(82, 80, 80, 0.74);
  line-height: normal;
}

.descripcion_portafolio a {
  color: #173ff0;
}
.descripcion_portafolio p {
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.descripcion_portafolio ul {
  margin-top: auto;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.contacto {
  background: rgb(105, 105, 105);
  padding: 5px;
  position: sticky;
  width: 100%;
  height: 80px;
  top: 0px;
  text-align: center;
  justify-items: center;
  line-height: 30px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.social-icons img:hover {
  width: 30px;
  margin: auto 10px;
  background-attachment: fixed;
}
.social-icons img {
  width: 30px;
  margin: auto 10px;
  background-attachment: fixed;
}
.social-icons {
  display: flex;
  justify-content: center;
  list-style: none;
}

.social-icons li {
  margin: 0 10px;
}

.social-icons li a {
  font-size: 30px;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  position: relative;
  transition: 0.5s ease;
}

.social-icons li a:hover {
  background-image: linear-gradient(45deg, #ebebeb, #d82a39, #137db9);
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 40px;
}

.social-icons li a::before {
  content: "";
  position: absolute;
  z-index: -1;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background: linear-gradient(50deg, #6a7ef5, #ec4c5a);
  transform: scale(1);
  transition: 0.5s ease-in-out;
}

.social-icons li a:hover::before {
  transform: scale(0);
}
@media screen and (max-width: 1440px) {
  .nav {
    z-index: 100;
    background: rgba(0, 0, 0, 0);
  }
  .nav_titulo {
    display: flex;
    text-align: center;
    align-items: center;
    align-content: center;
    margin: auto;
  }

  .container_mision {
    width: 600px;
    margin: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(223, 223, 223);
    /*border-style: dotted;*/
    justify-content: space-between;
  }

  .mision {
    background-color: #fcaaaa00;
    text-align: justify;
    width: 550px;
    padding: 5px;
    margin: 10px;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
  }

  .mision img {
    width: 50px;
    height: 50px;
    margin: 5px 10px 5px 5px;
  }

  .competencias {
    background-color: #fcaaaa00;
    text-align: justify;
    width: 550px;
    padding: 5px;
    margin: 10px;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
  }

  .competencias img {
    width: 50px;
    height: 50px;
    margin: 5px 10px 5px 5px;
  }

  #portafolio {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-content: flex-start;
    margin: 10px;
  }

  .portafolio_item {
    width: auto;
    height: max-content;
    margin: 5px;
    padding-top: 50px;
    margin: auto;
  }

  .portafolio_item iframe {
    border-radius: 10px;
    width: 700px;
    height: 500px;
    margin-bottom: 10px;
  }

  .descripcion_portafolio {
    width: 500px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: 0%;
    border-radius: 10px;
    text-align: justify;
    background-image: url(fondo2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    box-shadow: 5px 5px rgba(82, 80, 80, 0.74);
    line-height: normal;
  }

  .descripcion_portafolio a {
    color: #173ff0;
  }
  .descripcion_portafolio p {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .descripcion_portafolio ul {
    margin-top: auto;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }
}
@media screen and (max-width: 1200px) {
  .nav {
    z-index: 100;
    background: rgba(0, 0, 0, 0);
  }
  .nav_titulo {
    display: flex;
    text-align: center;
    align-items: center;
    align-content: center;
    margin: auto;
  }

  .container_mision {
    width: 600px;
    margin: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(223, 223, 223);
    /*border-style: dotted;*/
    justify-content: space-between;
  }

  .mision {
    background-color: #fcaaaa00;
    text-align: justify;
    width: 550px;
    padding: 5px;
    margin: 10px;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
  }

  .mision img {
    width: 50px;
    height: 50px;
    margin: 5px 10px 5px 5px;
  }

  .competencias {
    background-color: #fcaaaa00;
    text-align: justify;
    width: 550px;
    padding: 5px;
    margin: 10px;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
  }

  .competencias img {
    width: 50px;
    height: 50px;
    margin: 5px 10px 5px 5px;
  }

  #portafolio {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column-reverse;
    justify-items: center;
    align-content: flex-start;
    margin: 10px;
    align-items: center;
  }

  .portafolio_item {
    width: auto;
    height: max-content;
    margin: 5px;
    padding-top: 50px;
    margin: auto;
  }

  .portafolio_item iframe {
    border-radius: 10px;
    width: 1000px;
    height: 500px;
    margin-bottom: 10px;
  }

  .descripcion_portafolio {
    width: 500px;
    margin: auto;
    border-radius: 10px;
    text-align: justify;
    background-image: url(fondo2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    box-shadow: 5px 5px rgba(82, 80, 80, 0.74);
    line-height: normal;
  }

  .descripcion_portafolio a {
    color: #173ff0;
  }
  .descripcion_portafolio p {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .descripcion_portafolio ul {
    margin-top: auto;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }
}
@media screen and (max-width: 1024px) {
  .nav {
    z-index: 100;
    background: rgba(0, 0, 0, 0);
  }
  .nav_titulo {
    display: flex;
    text-align: center;
    align-items: center;
    align-content: center;
    margin: auto;
  }

  .container_mision {
    width: 600px;
    margin: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(223, 223, 223);
    /*border-style: dotted;*/
    justify-content: space-between;
  }

  .mision {
    background-color: #fcaaaa00;
    text-align: justify;
    width: 550px;
    padding: 5px;
    margin: 10px;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
  }

  .mision img {
    width: 50px;
    height: 50px;
    margin: 5px 10px 5px 5px;
  }

  .competencias {
    background-color: #fcaaaa00;
    text-align: justify;
    width: 550px;
    padding: 5px;
    margin: 10px;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
  }

  .competencias img {
    width: 50px;
    height: 50px;
    margin: 5px 10px 5px 5px;
  }

  #portafolio {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column-reverse;
    justify-items: center;
    align-content: flex-start;
    margin: 10px;
  }

  .portafolio_item {
    width: auto;
    height: max-content;
    margin: 5px;
    padding-top: 50px;
    margin: auto;
  }

  .portafolio_item iframe {
    border-radius: 10px;
    width: 900px;
    height: 500px;
    margin-bottom: 10px;
  }

  .descripcion_portafolio {
    width: 500px;
    margin: auto;
    border-radius: 10px;
    text-align: justify;
    background-image: url(fondo2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    box-shadow: 5px 5px rgba(82, 80, 80, 0.74);
    line-height: normal;
  }

  .descripcion_portafolio a {
    color: #173ff0;
  }
  .descripcion_portafolio p {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .descripcion_portafolio ul {
    margin-top: auto;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media screen and (max-width: 812px) {
  .nav_titulo {
    display: flex;
    text-align: center;
    align-items: center;
    align-content: center;
    margin: auto;
  }

  .container_mision {
    width: 600px;
    margin: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(223, 223, 223);
    /*border-style: dotted;*/
    justify-content: space-between;
  }

  .mision {
    background-color: #fcaaaa00;
    text-align: justify;
    width: 550px;
    padding: 5px;
    margin: 10px;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
  }

  .mision img {
    width: 50px;
    height: 50px;
    margin: 5px 10px 5px 5px;
  }

  .competencias {
    background-color: #fcaaaa00;
    text-align: justify;
    width: 550px;
    padding: 5px;
    margin: 10px;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
  }

  .competencias img {
    width: 50px;
    height: 50px;
    margin: 5px 10px 5px 5px;
  }
  .line {
    width: 90%;
    height: 5px;
    background: rgb(241, 34, 34);
    margin-bottom: 60px;
  }
  .social-media-icon:hover {
    background: #fff;
    color: #cc2952;
  }

  #portafolio {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column-reverse;
    justify-items: center;
    align-content: flex-start;
    margin: 10px;
  }

  .portafolio_item {
    width: auto;
    height: max-content;
    margin: 5px;
    padding-top: 50px;
    margin: auto;
  }

  .portafolio_item iframe {
    border-radius: 10px;
    width: 700px;
    height: 385px;
    margin-bottom: 10px;
  }

  .descripcion_portafolio {
    width: 500px;
    margin: auto;
    border-radius: 10px;
    text-align: justify;
    background-image: url(fondo2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    box-shadow: 5px 5px rgba(82, 80, 80, 0.74);
    line-height: normal;
  }

  .descripcion_portafolio a {
    color: #173ff0;
  }
  .descripcion_portafolio p {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .descripcion_portafolio ul {
    margin-top: auto;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }
}

/* -------------phone--------------- */

@media screen and (max-width: 600px) {
  .nav_titulo {
    display: flex;
    text-align: center;
    align-items: center;
    align-content: center;
    margin: auto;
  }

  .container_mision {
    width: 500px;
    margin: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(223, 223, 223);
    /*border-style: dotted;*/
    justify-content: space-between;
  }

  .mision {
    background-color: #fcaaaa00;
    text-align: justify;
    width: 450px;
    padding: 5px;
    margin: 10px;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
  }

  .mision img {
    width: 50px;
    height: 50px;
    margin: 5px 10px 5px 5px;
  }

  .competencias {
    background-color: #fcaaaa00;
    text-align: justify;
    width: 450px;
    padding: 5px;
    margin: 10px;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
  }

  .competencias img {
    width: 50px;
    height: 50px;
    margin: 5px 10px 5px 5px;
  }

  .brand {
    font-weight: 500;
    font-size: 40px;
  }

  .brand + p {
    font-weight: 500;
  }

  .line {
    width: 90%;
    height: 5px;
    background: rgb(241, 34, 34);
    margin-bottom: 60px;
  }

  .social-media-icon:hover {
    background: #fff;
    color: #cc2952;
  }
  #portafolio {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column-reverse;
    justify-items: center;
    align-content: flex-start;
    margin: 10px;
  }

  .portafolio_item {
    width: auto;
    height: max-content;
    margin: 5px;
    padding-top: 50px;
    margin: auto;
  }

  .portafolio_item iframe {
    border-radius: 10px;
    width: 550px;
    height: 300px;
    margin-bottom: 10px;
  }

  .descripcion_portafolio {
    width: 500px;
    margin: auto;
    border-radius: 10px;
    text-align: justify;
    background-image: url(fondo2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    box-shadow: 5px 5px rgba(82, 80, 80, 0.74);
    line-height: normal;
  }

  .descripcion_portafolio a {
    color: #173ff0;
  }
  .descripcion_portafolio p {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .descripcion_portafolio ul {
    margin-top: auto;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media screen and (max-width: 400px) {
  #nav_bar ul {
    width: max-content;
    padding-left: 10px;
  }

  .nav_item li {
    padding: 3px;
  }

  .container_mision {
    width: 350px;
    margin: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(223, 223, 223);
    /*border-style: dotted;*/
    justify-content: space-between;
  }

  .mision {
    background-color: #fcaaaa00;
    text-align: justify;
    width: 300px;
    padding: 5px;
    margin: 10px;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
  }

  .mision img {
    width: 50px;
    height: 50px;
    margin: 5px 10px 5px 5px;
  }

  .competencias {
    background-color: #fcaaaa00;
    text-align: justify;
    width: 300px;
    padding: 5px;
    margin: 10px;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
  }

  .competencias img {
    width: 50px;
    height: 50px;
    margin: 5px 10px 5px 5px;
  }
  #titulo_lateral {
    height: auto;
    align-content: center;
  }

  #titulo_lateral h3 {
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 0%;
  }

  .brand {
    font-weight: 500;
    font-size: 40px;
  }

  .brand + p {
    font-weight: 500;
  }

  .social-media {
    width: 70%;
    display: flex;
  }

  .social-media-icon {
    display: inline-block;
    width: 50%;
    height: 50%;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    justify-content: space-between;
  }

  .social-media-icon i {
    font-size: 40px;
    line-height: 50px;
    width: 50px;
  }

  .line {
    width: 90%;
    height: 5px;
    background: rgb(241, 34, 34);
    margin-bottom: 60px;
  }

  .social-media-icon:hover {
    background: #fff;
    color: #cc2952;
  }

  #portafolio {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column-reverse;
    justify-items: center;
    align-content: flex-start;
    margin: 10px;
  }

  .portafolio_item {
    width: auto;
    height: max-content;
    margin: 5px;
    padding-top: 50px;
    margin: auto;
  }

  .portafolio_item iframe {
    border-radius: 10px;
    width: 330px;
    height: 185px;
    margin-bottom: 10px;
  }

  .descripcion_portafolio {
    width: 330px;
    margin: auto;
    border-radius: 10px;
    text-align: justify;
    background-image: url(fondo2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    box-shadow: 5px 5px rgba(82, 80, 80, 0.74);
    line-height: normal;
  }

  .descripcion_portafolio a {
    color: #173ff0;
  }
  .descripcion_portafolio p {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .descripcion_portafolio ul {
    margin-top: auto;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }
}
